<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/static/css/Email.css">
</head>

<body>
    <div class="container">
        <div class="inner">
            <!-- <img src="Images/images.png" alt=""> -->
            <div class="panel panel-left">
                <div class="panel-content">
                    <div class="image-background">
                        <h5 id="getintouch">Get In Touch</h5>
                        <img id="Eimg" src="/static/images/Frame-6266192.webp" alt="">
                    </div>
                </div>
                <!-- <a href="main.html"><button id="bckh">Back to home</button></a> -->
            </div>

            <div class="panel panel-right">
                <div class="panel-content">
                    <div class="form">
                        <a id="ho" href="/">Home</a>
                        <h2>Contact Us</h2>
                        <h1>If you have any questions,
                            concerns or feedback for us, we
                            would love to hear it. Feel free to contact us.</h1>

                        <div>
                            <form >
                                <input type="text" placeholder="Full Name" value="" maxlength="20" id="fullName"
                                name="fromnamec"    required><br />
                                <input type="email" name="emailc" placeholder="Email Id" value="" id="email_id" required><br />
                                <textarea placeholder="Message" name="messagec" id="message" style="resize: none;"
                                    required></textarea><br />

                                <button id="btnnn" onclick="contact()">Send</button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div class="menu"></div>
</body>


<script src="/static/js/Email.js"></script>
</html>