<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Recovery</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/forgotpassword.css">
</head>

<body>
  <div class="form-gap"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3><i class="fa fa-lock fa-4x"></i></h3>
              <h2 class="text-center">Forgot Password?</h2>
              <p>Enter your registered email address and you'll receive
                a 6 digit code,you need to enter that code in the code field and you will receive
                your password on your Email
              </p>
              <div class="panel-body">

                <form id="register-form" role="form" autocomplete="off" class="form" method="post"
                  action="/passwordrecover">

                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                      <input  type="email" id="email" name="email" placeholder="email address" class="form-control" value=""
                        required>
                    </div>
                  </div>
                  <!-- <div>
                        <input id="otp" name="code" placeholder="enter 6 digit code here" class="form-control"  type="number" required>
                      </div>  -->
                  <div class="form-group">
                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Sent Code"
                      type="submit" id="btn">
                  </div>

                  <input type="hidden" class="hide" name="token" id="token" value="">

                </form>

                <form action="/otpprocessing" method="post" id="fotp" style="display: none ;">

                  <div>
                    <input type="email" value="" id="hemail" name="hemail" hidden>
                  </div>
                  <div>
                    <input id="otp"  placeholder="enter code here" name="hotp" class="form-control"
                      type="text" required>
            
                  </div>
                  <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block">Recover Password</button>
                  </div>
                </form>
                

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
<script src="/static/js/forgotpassword.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</html>