<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Nikah.com </title>
  <link rel="stylesheet" href="/static/css/main.css">
  <!-- Fontawesome CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
  <!-- Move to up button -->
  <div class="scroll-button">
    <a href="#home"><i class="fas fa-arrow-up"></i></a>
  </div>
  <!-- navgaition menu -->
  <nav>
    <div class="navbar">
      <div class="logo"><abbr title="Nikah.com is a matchmaking service">
        <p class="logo"><span>Nikah.</span>com</p></abbr></div>
      <ul class="menu">
        <li><a href="#home">Home</a></li>
        <form action="/blog" method="post">
          <!-- <li><a  target="_blank">Blogs</a></li> -->
          <li ><a><button id="blobtn">Blogs</button></a></li>
        </form>
        
        <!-- <li><a href="/Verify" target="_blank">Register</a></li> -->
        <!-- <li><a href="#services">log in</a></li> -->
        <li><a href="#aboutNikah">Nikah</a></li>
        
        <li><a href="/contactus" >Contact</a></li>
        <li><a href="#about">About</a></li>
        <div class="cancel-btn">
          <i class="fas fa-times"></i>
        </div>
      </ul>
      <div class="media-icons">
        <abbr title="twitter">
          <a href="https://twitter.com/WaseemR78420226"
            target="_blank"><i class="fab fa-twitter"></i></a></abbr>

        <abbr title="Facebook">
          <a href="https://www.facebook.com/" target="_blank"> <i class="fab fa-facebook"></i></a></abbr>

        <abbr title="instagram">
          <a href="https://www.instagram.com/phenomenal8684/" target="_blank"><i
              class="fab fa-instagram"></i></a></abbr>
      </div>
    </div>
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>

  </nav>

  <!-- Home Section Start -->
  <section class="home" id="home">
    <div class="home-content">
      <div class="text">
        <div class="text-one">Hello people,</div>
        <div class="text-two" id="motext">Welcome to the world's best muslim Matchmaking Service</div>
        <!-- <div class="text-three">Software Devloper</div> -->
        <marquee behavior="" style="background: transparent;" direction="left">
          <div class="text-four" id="lotext">A perfect happy marriage is simply two imperfect people loving
            each other and refusing to give up on each other no matter what.</div>
        </marquee>
      </div>
      <div>
        <!-- log in and register links -->
        <abbr title="Aready have an account?">
          <a href="#login" class="bn3">log in</a>
        </abbr>
        <a href="/verifyAdhar"  class="bn3">Register</a>

      </div>



    </div>

  </section>

  <!-- About Section Start -->
  <section class="about" id="about">
    <div class="content">
      <div class="title"><span>About Us</span></div>
      <div class="about-details">
        <div class="left">
          <img src="/static/images/logo.jpg" alt="">
        </div>
        <div class="right">
          <div class="topic">NIKAH.COM</div>
          <p>
            Nikah.com is a boutique matrimonial service
            created to help
            individuals from across the Kashmir to connect
            and eventually tie the knot.
            the main objective is to help kashmiri people in finding a right match
            that is according to their priorities, So no more hassles of dealing with traditional manzimyoors,
            as our platform has it all.
            "find your kashmiri match without compromising your values"
          </p>
          <!-- <div class="button">
            <a href="https://drive.google.com/file/d/1H72Pfsw5MNWhg8Prz5Oqpnycd10NaxZz/view?usp=sharing" target="_blank"><button>Download
                CV</button></a>
          </div> -->
        </div>
      </div>
    </div>
  </section>

  <!-- My Skill Section Start -->
  <!-- Section Tag and Other Div will same where we need to put same CSS -->
  <section class="skills" id="aboutNikah">
    <div class="content">
      <div class="title"><span>About Nikah</span></div>
      <div class="skills-details">
        <div class="text">
          <div class="topic">Nikah in Islam</div>
          <p>
            The origin of Nikah is quite storied, but few people understand its roots.
            Before the seventh century, women were often married against their will.
            Their wedding
            may have taken place when they were captured or as part of an inheritance.



            However, that
            all changed with the Prophet Muhammad[PBUH] and the parts of the Quran that he
            revealed in the study of Islam. With his proclamation, marriage by
            inheritance was no longer permitted, and the bride now had to consent
            to the union between her and her future partner. This was a major change
            in Islamic tradition.



            To ensure that the bride has indeed given
            consent during the Nikah, at least two male witnesses are required to
            be present for the ceremony. If the ceremony is segregated, the wali, or
            male guardian, still has the responsibility to ensure that the bride accepts
            the marriage before they move forward with the marriage contract.



            During the Nikah, the bride price, or the mahr, used to be given to the father in exchange for his
            daughter’s hand in marriage. This practice shifted, and the gift is now given directly to the bride for her
            security in the marriage moving forward. As per Islam, Nikah is a commitment and agreement between man and
            woman to live together as husband and
            wife. In Islam, marriage is mandatory to complete one-half of the Muslim faith. However,
            it is upon his/her to select their life partner to complete his/her faith.
            Prophet Mohammed emphasizes the importance of Nikah by saying:“A person who can support a wife and children
            and does not marry, then he is not from us.”



          </p>
          <div class="experience">
            <div class="num">نکاح</div>
            <div class="exp">purest <br> form of love</div>
          </div>
        </div>
        <div class="boxes">
          <!-- <div class="box">
            <div class="topic">HTML</div>
            <div class="per">90%</div>
          </div>
          <div class="box">
            <div class="topic">CSS</div>
            <div class="per">80%</div>
          </div>
          <div class="box">
            <div class="topic">JavScript</div>
            <div class="per">80%</div>
          </div>
          <div class="box">
            <div class="topic">Java</div>
            <div class="per">80%</div>
          </div>
          <div class="box">
            <div class="topic">C++</div>
            <div class="per">80%</div>
          </div>-->
          Now that you know where the term comes from, it is important to ask the question that may be on your mind:
          What is Nikah?



          Nikah is the religious ceremony
          required by Islamic law to unite
          a Muslim man and woman in holy matrimony.




          The Nikah ceremony
          is designed to bring the new relationship before Allah.



          Couples will stand before the
          ceremony leader, traditionally an imam,
          and say “I accept” three times. After this
          portion of their vows has been completed,
          they will sign the marriage contract and
          officially be joined as husband and wife.



          During the Nikah, two male
          witnesses will make sure that
          both the bride and groom are giving
          their consent to the marriage of their
          own free will. Nothing is entered into without
          the express approval of both parties.



          Typically, all parties will agree
          to the mahr, which can be a gift of
          money to the bride. In some modern wedding
          ceremonies, the ring may be used as a gift. However, the
          mahr can be anything that the bride desires, keeping in mind
          her husband’s income and what is reasonable for him to offer.



          During the ceremony, the participants may also give a short sermon and read from the Holy Quran
          Islam clearly states not to
          delay getting married. Holy Prophet Mohammed (Allah’s Messenger) said,
          “Do not delay in three things
          The offering of the obligatory prayer
          The offering of the funeral prayer when the dead body is present
          The marriage of a woman when her match is found.”

        </div>
      </div>
    </div>
  </section>

  <!-- My Services Section Start -->
  <section class="services" id="login">
    <div class="content">
      <div class="title"><span>log into your Account</span></div>
      <div class="boxes">
        <div class="box">
          <div class="icon">
            <i class="fas fa-desktop"></i>
          </div>
          <div class="topic">Log in</div>
          <form action="/loginn" method="post">
            <label for="username">Username</label>
            <input type="text" name="user" placeholder="Registered Username" 
            v-model:value="" pattern="[A-Za-z0-9]+" onkeydown="if(['Space'].includes(arguments[0].code)){return false;}"  id="username" required>

            <label for="password">Password</label>
            <input type="password" name="pass" placeholder="Password" id="password" required>
            <i class="far fa-eye" id="togglePassword"></i>
            <button class="bn53">Log In</button>
          </form>

        </div>
        <a href="/forgotPassword" target="_blank" id="fpass">Forgotten Password?</a>
      </div>
  </section>

  <!-- Contact Me section Start -->
  <section class="contact" id="contact">
    <div class="content">
      <div class="title"><span>Contact Us</span></div>
      <div class="text">
        <div class="button">
          <a href="/contactus" ><button>Let's Chat</button></a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer Section Start -->
  <footer>
    <div class="text">
      <span>Created By <a href="#">Waseem Raja</a> | &#169; 2022 All Rights Reserved</span>
    </div>
  </footer>

  <script src="/static/js/main.js"></script>
</body>

</html>