<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/verifycode.css">
    <title>verifycode</title>
</head>
<body>
    <form action="/emailverification" method="post" class="login"  id="Rform">

        <input type="email" value="<%=email%>"  readonly name="Remail" style="display:none" required>
        <input type="text" id="Rcode" name="Rcode" value="" placeholder="Enter code here" required>
        <button id="Rbtn" class="bn53">Verify</button>
    </form>
</body>

</html>

