body{
    margin:0;
    padding:0;
    background-color: #E3F2FD;
    font-family: sans-serif;
}
.team-container
{
    width:100%;
    height: auto;
 
}
.text
{
    color:#2ba0e2fa;
    font-size: 25px;
    margin-top: 40px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
 
}
.row
{
    width: 60%;
    margin:auto;
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    list-style-type: none;
}
@media(max-width: 768px)
{
    .row{
        width: 100%;
    }
}
.profile-card
{
       background-color: white;
       width: 270px;
       height: 250px;
       margin: 20px 10px 10px 10px;
       border-radius: 43px;
   
}
@media(max-width: 468px)
{
    .profile-card
    {
        width: 290px;
        height: 250px;
    }
}
.profile-content
{
    padding:15px;
}
img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.profile-image
{
    text-align: center;
}
.desc
{
    text-align: center;
}
.desc h2
{
    color: #2979e8;
    font-size: 20px;
}
.desc p{
    font-size: 13px;
    line-height: 1.3em;
    margin-top: -10px;
    color: #000000;
     
}
.btn-div
{
    text-align: center;
}
.btn
{
    background-color: rgb(12,138,121);
    color: #ffffff;
    width: 150px;
    cursor: pointer;
    height: 38px;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 3px 3px 3px 3px #e6e6e6;
    border-radius: 3px;
    outline:none;
    border:none;
    text-transform: uppercase;
}
/* view button */
.bn53 {
  background-color: #557eb8;
  padding: 7px;
  width: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: bn53bounce 4s infinite;
  cursor: pointer;
  border-radius: 17px;
  font-size: 15px;
  border-style: outset;
  color: white;
  margin-top: 7%;
  margin-left: -101px;
  }
  
  @keyframes bn53bounce {
    5%,
    50% {
      transform: scale(1);
    }
  
    10% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1);
    }
  
    20% {
      transform: scale(1) rotate(-5deg);
    }
  
    25% {
      transform: scale(1) rotate(5deg);
    }
  
    30% {
      transform: scale(1) rotate(-3deg);
    }
  
    35% {
      transform: scale(1) rotate(2deg);
    }
  
    40% {
      transform: scale(1) rotate(0);
    }
  }
  .bn53:hover{
    background-color: white;
    color: black;
  }
  #mail{
    position: absolute;
    margin-left: 15%;
    margin-top: -37px;
  }
  abbr[title] {text-decoration: none !important;}